{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'Mixtape supply™ - Came soon' %}

{% block page %}
	{# Start writing code! #}
	<div class="wrapper">
		<div class="content">
			<div class="tagline">mixtape supply™</div>
			<h1 class="wow animate__animated animate__fadeIn">Get Ready to Rewind: Your Spotify Playlists on Cassette</h1>
			<p>Relive the nostalgia of the 90’s by transforming your digital music into physical cassette tapes.</p>
			<div class="form-holder">
				<form action="">
					<input type="text">
					<button>Join the waitlist</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
