{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'Mixtape supply™ - Came soon' %}

{% block page %}
	{# Start writing code! #}
	<div class="wrapper">
		<div class="content">
			<div class="tagline">mixtape supply™</div>
			<h1>Get Ready to Rewind: 
				Your Spotify Playlists on Cassette</h1>
		</div>
	</div>

{% endblock %}
